body{
	background-color: background: rgb(255,211,245);
background: linear-gradient(90deg, rgba(255,211,245,1) 0%, rgba(241,205,255,1) 35%, rgba(215,235,255,1) 69%, rgba(180,242,255,1) 100%);

font-family: Helvetica;

font-size: 20px

color: #6819A1;
}

a {
	color: #6819A1;
	padding: 0.25em;
	transition: background-color 300ms;
}

a:hover {
	background-color: #A6BBDC;
}

ul {
	padding: 0;
}

li { 
	list-style: none;
}


}